// Colors Palette

$primary-color: #b9b3aa;
$secondary-color: #51a1c1;
$secondary-color-light: #70c2e2;
$dark-color: #112831;

@import "../node_modules/bootstrap/scss/bootstrap";

.bg-primary {
  background-color: $primary-color;
   h1,h2,h3,h4,h5,h6,p,a {
     color:$dark-color;
   }
}

.bg-secondary {
  background-color: $secondary-color;
  h1,h2,h3,h4,h5,h6,p,a {
    color:$primary-color;
  }
  .resalt {
    color:$dark-color
  }
}
.bg-secondary-light {
  background-color: rgba($color: $secondary-color, $alpha: 0.1);
  h1,h2,h3,h4,h5,h6,p,a {
    color:$dark-color;
  }
  .resalt {
    color:$dark-color
  }
}
.bg-dark {
  background-color: $dark-color;
  * {
    color:$primary-color;
  }
}

// RESET:
html{
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}


h1,h2,h4,h5,h6,h3, p,.title{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

body,p,button,a,li{
  font-family: 'Roboto', sans-serif;
}

.custom-header-container{
  position: absolute;
  z-index:2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;

  img{
    max-height: 75px;
    display: block;
  }
  .btn-menu{
    position: fixed;
    right:2em;
    color: $primary-color;
    background: $dark-color;
    padding: 1em;
    border-radius: 100%;
    border: 3px solid $primary-color;
    transform: scale(.9);
    transition: .4s ease;
    display: none;
    &:active{
      transform: scale(1);
    }
  }
  @media (max-width: 1024px)
  {
    position: relative;
    background-color: rgba($color: $secondary-color, $alpha: 0.6);
    margin-top: 0;
    right: 0;
    align-items: center;
    .btn-menu{
      display: inline-block;
    }
  }
}

.custom-header{
  flex: 1;
  background-color: $secondary-color;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: end;
  justify-self: center;
  box-shadow: 4px 2px 8px rgba($color: black, $alpha: 0.1);
  a{
    text-decoration: none;
    color: $primary-color;
  }
  img{
    max-height: 75px;
    display: block;
  }
  @media (min-width: 1024px)
  {
    width:70vw;
    position: fixed;
    right:0;
  }
  @media (max-width: 1024px)
  {
    position: fixed;
    top:0;
    left:0;
    left: -100%;
    min-height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    a {
      border: solid 1px $primary-color;
      font-size:120%;
    }
    a, .dropdown{
      text-align: center;
      padding: 1em;
      width:100%;
      margin-top:3em;
    }
    .dropdown{
      a{
        border: none;
      }
    }
    img {
      transition: .4s ease;
    }
  }
}

.logo-sidebar {
  border-bottom: solid 1px $primary-color;
}

.sidebarActive{
  top:0 !important; 
  left: 0 !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $primary-color;
  min-width: 100px;
  @media (max-width:1024px) {
    justify-content: center;
    margin: auto;
    a {
      margin: auto;
      text-align: center;
    }
    min-width:80%;
    margin: 0;
  }
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;

  a{
    color: $secondary-color;
    display: block;
    margin-top: .25em;
  }
}

.dropdown-title{
  color: $primary-color;
  cursor: pointer;
  margin-right: 1em;
  @media (max-width:1024px) {
    margin: auto;
    text-align: center;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.d-none {
  display: none;
}
.main-section {
  display:block;
  margin : 0.5em auto .25em;
  @media(min-width:'1025px') {
    margin: 4.5em auto 0;
  }
  border-radius: 0px;
  font-size: 150%;
}

// PROJECT SECTION

.projects-container {
  display:block;
  border-radius: 6px;
  margin : 0.5em auto .25em;
  @media(min-width:'1025px') {
    margin: 7em auto 0;
  }
  padding: .5em;
}

.title {
  text-align: center;
}

